<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Air Quality Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="container">
        <h1> Early Morning Air Quality System</h1>
        
        <div class="input-group">
            <input type="text" id="city" placeholder="Enter City Name">
            <button onclick="predictPM25()">Predict</button>
        </div>
    </div>
    <div class="sun"></div>
<div class="cloud cloud1"></div>
<div class="cloud cloud2"></div>
<div class="cloud cloud3"></div>


    <!-- Full-screen div for result -->
    <div id="fullScreenResult" class="fullscreen-modal">
        <div class="modal-container">
            <button class="close-btn" onclick="closeFullScreen()">✖</button>
            <h2 id="modalCity">City Name</h2>
            <div id="extraInfo"></div>
            <div id="modalResult" class="prediction-container">Loading...</div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
